* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --almost-white: #fffdfa;
    --Dark-blue: #00001a;
    --Gunmetal: #5e607a;
    --vermillion: #f15d51;
    --yellow: #59aa52;
    --silver: #c5c6ce;

}

body {
    padding: 1.75rem 1rem;
    background: var(--almost-white);
}

.header-mobile{
    
}